/* navbar.css */
.navbar {
  width: 100%;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #e5e7eb;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 50;
}

.navbar-title {
  font-size: 22px;
  font-weight: 600;
  color: black;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.navbar-link:hover {
  color: #2563eb;
}

.profile {
  width: 40px;
  height: 40px;
  background: #2563eb;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.profile:hover {
  background: #1d4ed8;
}
.profile-container {
  position: relative;
}

.profile {
  background-color: #2563eb;
  color: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

.dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 150px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.dropdown-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f3f4f6;
}

.logout {
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  color: red;
}